.main {
  position: relative;
  left: $sidebar-min-width;
  margin: 0;
  width: $main-width;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  background-color: $white-color;
  min-height: $main-min-height;

  &__content {
    margin-right: 1rem;
    min-height: calc((100vh - $header-height) - $footer-height);
    padding: .2rem .2rem 0;
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'lg') + 150px)) {
  .main {
    padding-bottom: $footer-height-xs;

    &__content {
      min-height: calc((100vh - $header-height) - $footer-height-xs);
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  .main {
    padding-bottom: $footer-height-sm;

    &__content {
      min-height: calc((100vh - $header-height) - $footer-height-sm);
    }
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
  .main {
    padding-bottom: $footer-height-md;

    &__content {
      min-height: calc((100vh - $header-height) - $footer-height-md);
    }
  }
}

@media (max-width: 420px) {
  .main {
    left: auto;
    width: 100%;
    padding-top: $header-height;
    padding-bottom: $footer-height-lg;

    &__content {
      min-height: calc((100vh - $header-height) - $footer-height-lg);
    }
  }
}

@media (max-width: 336px) {
  .main {
    padding-bottom: $footer-height-xl;

    &__content {
      min-height: calc((100vh - $header-height) - $footer-height-xl);
    }
  }
}

@media (max-height: $main-min-height) {
  .main {

    &__content {
      min-height: calc(($main-min-height - $header-height) - $footer-height);
    }
  }
}

@media (max-height: $main-min-height) and (max-width: calc(map-get($grid-breakpoints, 'lg') + 150px)) {
  .main {

    &__content {
      min-height: calc(($main-min-height - $header-height) - $footer-height-xs);
    }
  }
}

@media (max-height: $main-min-height) and (max-width: map-get($grid-breakpoints, 'md')) {
  .main {

    &__content {
      min-height: calc(($main-min-height - $header-height) - $footer-height-sm);
    }
  }
}

@media (max-height: $main-min-height) and (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
  .main {

    &__content {
      min-height: calc(($main-min-height - $header-height) - $footer-height-md);
    }
  }
}

@media (max-height: $main-min-height) and (max-width: 420px) {
  .main {

    &__content {
      min-height: calc(($main-min-height - $header-height) - $footer-height-lg);
    }
  }
}

@media (max-height: $main-min-height) and (max-width: 336px) {
  .main {

    &__content {
      min-height: calc(($main-min-height - $header-height) - $footer-height-xl);
    }
  }
}
