.main {
  position: relative;
  left: $sidebar-min-width;
  margin: 0;
  width: $main-width;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  background-color: $white-color;
  transition: all .33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  min-height: $main-min-height;

  &__content {
    padding: .5rem;
    min-height: $main-min-height;
    height: calc((100vh - $header-height) - $footer-height);
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'lg') + 150px)) {
  .main {
    padding-bottom: $footer-height-xs;

    &__content {
      // min-height: calc((100vh - $header-height) - $footer-height-xs);
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  .main {
    padding-bottom: $footer-height-sm;

    &__content {
      // min-height: calc((100vh - $header-height) - $footer-height-sm);
    }
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
  .main {
    padding-bottom: $footer-height-lg;

    &__content {
      // min-height: calc((100vh - $header-height) - $footer-height-lg);
    }
  }
}

@media (max-width: 420px) {
  .main {
    left: auto;
    width: 100%;
    padding-top: $header-height;
    padding-bottom: $footer-height-md;

    &__content {
      // min-height: calc((100vh - $header-height) - $footer-height-md);
    }
  }
}

@media (max-width: 350px) {
  .main {
    padding-bottom: $footer-height-xl;

    &__content {
      // min-height: calc((100vh - $header-height) - $footer-height-xl);
    }
  }
}

@media (max-width: 340px) {
  .main {
    padding-bottom: $footer-height-xxl;

    &__content {
      // min-height: calc((100vh - $header-height) - $footer-height-xxl);
    }
  }
}
