.main {
  position: relative;
  left: $sidebar-min-width;
  margin: 0;
  width: $main-width;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  background-color: $white-color;
  min-height: $main-min-height;

  .content {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 1rem;

    &__wrapper {
      margin: .5rem 1rem .5rem 0;
      min-height: calc(((100vh - $header-height) - $footer-height) - 1rem);
      padding: .2rem;
    }

    &__header {
      background-color: $white-color;
      padding: 0 1rem;
      border: none;
      width: 100%;

      &--title {
        font-family: 'pfbeausanspro-xthin';
        font-weight: 600;
        font-style: normal;
        line-height: 1.5;

        strong {
          font-family: 'pfbeausanspro';
          font-weight: 600;
          font-style: normal;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  .main {
    padding-bottom: $footer-height-xs;

    .content {

      &__wrapper {
        min-height: calc(((100vh - $header-height) - $footer-height-xs) - 1rem);
      }
    }
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
  .main {
    padding-bottom: $footer-height-md;

    .content {

      &__wrapper {
        min-height: calc(((100vh - $header-height) - $footer-height-md) - 1rem);
      }
    }
  }
}

@media (max-width: 420px) {
  .main {
    left: auto;
    width: 100%;
    padding-top: $header-height;
    padding-bottom: $footer-height-sm;

    .content {

      &__wrapper {
        min-height: calc(((100vh - $header-height) - $footer-height-sm) - 1rem);
      }
    }
  }
}

@media (max-width: 350px) {
  .main {
    padding-bottom: $footer-height-lg;

    .content {

      &__wrapper {
        min-height: calc(((100vh - $header-height) - $footer-height-lg) - 1rem);
      }
    }
  }
}

@media (max-width: 340px) {
  .main {
    padding-bottom: $footer-height-xl;

    .content {

      &__wrapper {
        min-height: calc(((100vh - $header-height) - $footer-height-xl) - 1rem);
      }
    }
  }
}

@media (max-height: $main-min-height) {
  .main {

    .content {

      &__wrapper {
        min-height: calc((($main-min-height - $header-height) - $footer-height) - 1rem);
      }
    }
  }
}


@media (max-height: $main-min-height) and (max-width: map-get($grid-breakpoints, 'md')) {
  .main {

    .content {

      &__wrapper {
        min-height: calc((($main-min-height - $header-height) - $footer-height-xs) - 1rem);
      }
    }
  }
}

@media (max-height: $main-min-height) and (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
  .main {

    .content {

      &__wrapper {
        min-height: calc((($main-min-height - $header-height) - $footer-height-md) - 1rem);
      }
    }
  }
}

@media (max-height: $main-min-height) and (max-width: 420px) {
  .main {

    .content {

      &__wrapper {
        min-height: calc((($main-min-height - $header-height) - $footer-height-sm) - 1rem);
      }
    }
  }
}

@media (max-height: $main-min-height) and (max-width: 350px) {
  .main {

    .content {

      &__wrapper {
        min-height: calc((($main-min-height - $header-height) - $footer-height-lg) - 1rem);
      }
    }
  }
}

@media (max-height: $main-min-height) and (max-width: 340px) {
  .main {

    .content {

      &__wrapper {
        min-height: calc((($main-min-height - $header-height) - $footer-height-xl) - 1rem);
      }
    }
  }
}
