.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  width: $sidebar-min-width;
  padding-top: $header-height;
  background-color: $white-color;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 0;
    height: 100%;

    &--image {
      position: relative;
      width: 100%;
      overflow: hidden;
      margin-bottom: 0;

      img {
        display: block;
        margin: 0 auto;
        max-height: 300px;
        height: 100%;
      }
    }
  }
}

@include sidebar-responsive();

@media (max-width: calc(map-get($grid-breakpoints, 'lg') + 150px)) {
  @include sidebar-responsive($footer-height-xs);
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  @include sidebar-responsive($footer-height-sm);
}

@media (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
  @include sidebar-responsive($footer-height-md);
}

@media (min-width: 421px) and (max-width: map-get($grid-breakpoints, 'sm')) {
  .sidebar {
    padding-top: 0;
    margin-top: $header-height;
    height: calc(100% - $header-height);
  }
}

@media (max-width: 420px) {
  .sidebar {
    display: none;
  }
}

@media (max-height: calc($main-min-height + 160px)) {
  .sidebar {

    &__content {

      &--image {

        img {
          max-height: 250px;
        }
      }
    }
  }
}

@media (max-height: calc($main-min-height + 70px)) {
  .sidebar {

    &__content {

      &--image {

        img {
          max-height: 220px;
        }
      }
    }
  }
}

@media (max-height: $main-min-height) {
  .sidebar {

    &__content {

      &--image {

        img {
          max-height: 200px;
        }
      }
    }
  }
}
