.content {
  padding: .2rem .2rem 0;

  &__body {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  &__header {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-color;
    padding: 0 1.5rem;
    margin: 1rem 0 .5rem;
    border: none;
    width: 100%;
    gap: 10px;

    &--title {
      font-family: 'pfbeausanspro-xthin';
      font-weight: 600;
      font-style: normal;
      font-size: $h3-font-size;
      line-height: 1.5;
      margin-bottom: 0;
      min-width: 242px;

      strong {
        font-family: 'pfbeausanspro';
        font-weight: 600;
        font-style: normal;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    padding: .5rem 0;
  }
}

@include content-responsive();

@media (max-width: calc(map-get($grid-breakpoints, 'lg') + 150px)) {
  @include content-responsive($header-height, $footer-height-xs);
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  @include content-responsive($header-height, $footer-height-sm) {

    &__header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
  @include content-responsive($header-height, $footer-height-md);
}

@media (max-width: 420px) {
  @include content-responsive($header-height, $footer-height-lg) {

    &__bottom {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 336px) {
  @include content-responsive($header-height, $footer-height-xl);
}

@media (max-height: $main-min-height) {
  @include content-responsive($header-height, $footer-height, $main-min-height);
}

@media (max-height: $main-min-height) and (max-width: calc(map-get($grid-breakpoints, 'lg') + 150px)) {
  @include content-responsive($header-height, $footer-height-xs, $main-min-height);
}

@media (max-height: $main-min-height) and (max-width: map-get($grid-breakpoints, 'md')) {
  @include content-responsive($header-height, $footer-height-sm, $main-min-height);
}

@media (max-height: $main-min-height) and (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
  @include content-responsive($header-height, $footer-height-md, $main-min-height);
}

@media (max-height: $main-min-height) and (max-width: 420px) {
  @include content-responsive($header-height, $footer-height-lg, $main-min-height);
}

@media (max-height: $main-min-height) and (max-width: 336px) {
  @include content-responsive($header-height, $footer-height-xl, $main-min-height);
}

@media (min-height: calc(map-get($grid-breakpoints, 'sm') + 36px)) and (min-width: calc(map-get($grid-breakpoints, 'md') + 129px)) {
  .content {

    &__header {
      margin: 1.5rem 0 .5rem;
    }
  }
}

@media (min-height: calc(map-get($grid-breakpoints, 'sm') + 104px)) and (min-width: calc(map-get($grid-breakpoints, 'md') + 129px)) {
  .content {

    &__header {

      &--title {
        font-size: $h2-font-size;
      }
    }
  }
}
