.content__dynamic-key {
  $self: &;

  background-color: $content-dynamic-key-color;
  margin: .5rem 0 0;
  width: 100%;
  height: $content-dynamic-key-height;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5rem;
    width: 100%;
  }

  blockquote {
    padding: 1rem 0;
    margin: 0 1rem;
  }

  &--text {
    font-size: .8rem;
    line-height: 1.2;
    max-width: 193.2px;
    margin-bottom: 0;

    span {
      display: inline-block;
      color: $content-dynamic-key-text-color;
    }

    strong {
      color: $content-dynamic-key-autorize;
    }
  }

  &--title {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: .2rem;
    color: $content-dynamic-key-autorize;
    font-weight: 600;
    max-width: 250px;
  }

  &--autorize {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin: 0 1rem;
    width: 200px;

    .form {

      &__input {
        color: $content-dynamic-key-autorize-text-color;
        border: 1px solid $content-dynamic-key-button-border-color;
        border-radius: 6px;
        font-size: 1rem;
        text-align: center;
        margin-left: 0;
        margin-bottom: .65rem;
        min-height: 35px;
      }

      &__button {
        width: 100%;

        &:disabled {
          background-color: $content-dynamic-key-button-color-disabled;
          color: $white-color;
        }

        &:not(:disabled).active {
          background-color: $content-dynamic-key-autorize;

          &:hover,
          &:focus {
            background-color: $button-color-active-hover;
          }
        }
      }
    }
  }

  &--images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    margin-left: 1rem;
    margin-bottom: 0;
    width: 214px;

    img {
      display: block;
      margin: 0;
      height: 100%;
    }

    img:not(#{ $self }--image-key) {
      max-height: $content-dynamic-key-height;
      border-bottom-right-radius: 6px;
    }
  }

  &--image-key {
    position: absolute;
    left: 0;
    max-height: 75px;
  }
}
