.form {

  &__dynamic-key {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 12px;
    max-width: 450px;
    padding: .5rem 0;

    &--body {
      width: 100%;
      padding: 1rem 1.5rem;
    }

    &--image {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding: 0 1rem;
      margin-bottom: 0;

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 450px;
      }
    }

    &--title,
    &--text {
      color: $alert-color;
      opacity: .85;
    }

    &--title {
      font-family: 'mavenpro-bold';
      font-size: 1rem;
      margin-bottom: .5rem;
    }

    &--text {
      font-family: 'mavenpro-regular';
      font-size: .8rem;
      line-height: 1.3;
      margin-bottom: 0;
    }
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'lg') + 85px)) {
  .form {

    &__dynamic-key {

      &--title {
        font-size: 1rem;
      }

      &--text {
        font-size: .8rem;
      }
    }
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'md') + 128px)) {
  .form {

    &__dynamic-key {
      align-self: auto;
      margin: .5rem auto;
    }
  }
}

@media (min-height: calc(map-get($grid-breakpoints, 'sm') + 104px)) and (min-width: map-get($grid-breakpoints, 'xl')) {
  .form {

    &__dynamic-key {
      max-width: 500px;

      &--body {
        padding: 1.5rem;
      }

      &--image {

        img {
          width: 488px;
        }
      }

      &--title {
        font-size: 1.2rem;
      }

      &--text {
        font-size: .9rem;
      }
    }
  }
}
