.form {
  $self: &;

  $self-select: #{ $self }__select;             /* .form__select */
  $select-wrap: bf-pc-select#{ $self-select };  /* bf-pc-select.form__select */
  $select-inner: #{ $select-wrap } select;      /* bf-pc-select.form__select select */
  $select: select#{ $self-select };             /* select.form__select */

  &__content {
    $content: &;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: .5rem 1rem .5rem .8rem;

    &#{ $self }__no-dynamic-key {

      #{ $content }--item {
        justify-content: flex-start;
      }
    }

    &--item {
      $item: &;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 calc((100% / 2) - .5rem);
      width: calc(100% / 2);

      &:nth-child(odd) {
        margin-right: .5rem;
      }

      &:nth-child(even) {
        margin-left: .5rem;
      }
    }
  }

  &__group {
    $group: &;

    &,
    &--last {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      max-width: 570px;
      padding: .2rem;
      margin-bottom: .8rem;
    }

    &:has(+ #{ $group }--last) {
      margin-bottom: .4rem;
    }
  }

  &__label,
  #{ $select-inner },
  #{ $select },
  &__input,
  &__textarea,
  &__link {
    font-family: 'pfbeausanspro-bbook';
    color: $form-text-color;
    font-size: .9rem;
  }

  &__label,
  #{ $select-inner },
  #{ $select },
  &__input,
  &__textarea {
    opacity: .9;
  }

  #{ $select-wrap },
  #{ $select },
  &__input,
  &__textarea {
    flex: 0 0 calc(60% - .5rem);
    width: 60%;
    margin-left: .5rem;
  }

  #{ $select-inner },
  #{ $select },
  &__input,
  &__textarea {
    min-height: 40px;
  }

  #{ $select-inner },
  #{ $select } {
    opacity: .8;
  }

  &__input,
  &__textarea {

    &::placeholder {
      opacity: .8;
    }
  }

  &__label {
    @extend .col-form-label-sm;
    flex: 0 0 calc(40% - .5rem);
    width: 40%;
    margin-right: .5rem;
  }

  &__input {
    @extend .form-control;
    @extend .form-control-sm;
  }

  #{ $select-inner },
  #{ $select } {
    @extend .form-select;
    @extend .form-select-sm;
  }

  &__link {
    @extend .link-offset-1;
    @extend .link-underline;
    @extend .link-underline-opacity-0;

    color: $banco-falabella-color-dark;
    margin-left: calc(40% + .5rem);

    &:hover {
      color: $banco-falabella-color;
    }

    p {
      line-height: 1.2;
      margin-bottom: 0;

      span {
        display: inline-block;
      }

      fa-icon {
        line-height: 1;
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'lg') + 85px)) {
  .form {
    $self: &;

    &__content {
      $content: &;

      &#{ $self }__no-dynamic-key {

        #{ $content }--item:nth-child(odd),
        #{ $content }--item:nth-child(even) {
          flex: 0 0 100%;
          width: 100%;
        }

        #{ $content }--item:nth-child(odd) {
          margin-right: 0;
        }

        #{ $content }--item:nth-child(even) {
          margin-left: 0;
        }
      }

      &:not(#{ $self }__no-dynamic-key) {

        #{ $content }--item:nth-child(odd) {
          flex: 0 0 calc(62% - .5rem);
          width: 62%;
        }

        #{ $content }--item:nth-child(even) {
          flex: 0 0 calc(38% - .5rem);
          width: 38%;
        }
      }
    }
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'md') + 128px)) {
  .form {
    $self: &;

    &__content {
      $content: &;

      &:not(#{ $self }__no-dynamic-key) {

        #{ $content }--item {
          justify-content: flex-start;
        }

        #{ $content }--item:nth-child(odd),
        #{ $content }--item:nth-child(even) {
          flex: 0 0 100%;
          width: 100%;
        }

        #{ $content }--item:nth-child(odd) {
          margin-right: 0;
        }

        #{ $content }--item:nth-child(even) {
          margin-left: 0;
        }
      }
    }

    &__group {

      &,
      &--last {
        max-width: none;
      }
    }
  }
}

@media (max-width: calc(map-get($grid-breakpoints, 'sm') + 29px)) {
  .form {
    $self: &;

    $self-select: #{ $self }__select;             /* .form__select */
    $select-wrap: bf-pc-select#{ $self-select };  /* bf-pc-select.form__select */
    $select-inner: #{ $select-wrap } select;      /* bf-pc-select.form__select select */
    $select: select#{ $self-select };             /* select.form__select */

    &__group {

      &,
      &--last {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: .4rem;
      }
    }

    &__label,
    #{ $select-wrap },
    #{ $select },
    &__input,
    &__textarea {
      flex: auto;
      width: 100%;
    }

    #{ $select-wrap },
    #{ $select },
    &__input,
    &__textarea {
      margin-left: 0;
    }

    &__label {
      margin-right: 0;
    }

    &__link {
      margin-left: 0;
    }
  }
}
