.transaction {

  &__alert {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 1rem;

    &.alert-success {
      border: none;
      border-radius: $alert-border-radius;
      background-color: $alert-color-success;
      color: $alert-color;
    }

    &--text {
      font-size: 15px;
      margin-bottom: 0;
      line-height: 1.2;
      opacity: .9;
    }

    &--icon {
      font-size: 20px;
      color: $banco-falabella-color-hover;
      padding: .2rem;
    }
  }
}
