.transaction {
  padding: 0 1.5rem;
  margin: 1.5rem 0 0;
  width: 100%;

  &__alert {
    $self: &;

    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: $alert-border-radius;
    color: $alert-color;
    opacity: .9;

    &.alert-warning {
      background-color: $alert-color-warning;

      #{ $self }--icon {
        color: $alert-color-warning-icon;
      }
    }

    &.alert-success {
      background-color: $alert-color-success;

      #{ $self }--icon {
        color: $alert-color-success-icon;
      }
    }

    &--text {
      font-size: 15px;
      margin-bottom: 0;
      line-height: 1.2;
      opacity: .9;
    }

    &--icon {
      font-size: 20px;
      padding: .2rem;
    }
  }
}

@media (min-height: calc(map-get($grid-breakpoints, 'sm') + 36px)) and (min-width: calc(map-get($grid-breakpoints, 'md') + 129px)) {
  .transaction {
    padding: 0 2rem;

    &__alert {
      margin-left: 0;
    }
  }
}
