.transaction {

  &__alert {
    $self: &;

    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 1rem;
    border: none;
    border-radius: $alert-border-radius;
    color: $alert-color;
    opacity: .9;

    &.alert-warning {
      background-color: $alert-color-warning;
      max-width: 800px;

      #{ $self }--icon {
        color: $alert-color-warning-icon;
      }
    }

    &.alert-success {
      background-color: $alert-color-success;
      max-width: 910px;

      #{ $self }--icon {
        color: $alert-color-success-icon;
      }
    }

    &--text {
      font-size: 15px;
      margin-bottom: 0;
      line-height: 1.2;
      opacity: .9;
    }

    &--icon {
      font-size: 20px;
      padding: .2rem;
    }
  }
}
