@import 'variables/variables';

.main {

  &__content {

    &--wrapper {
      padding: 2rem;
      border: 1px solid $border-color;
      border-radius: 6px;
      min-height: calc(((100vh - $header-height) - $footer-height) - 1rem);

      header {
        padding: .5rem 0;

        h2 {
          font-family: 'pfbeausanspro-xthin';
          font-weight: 600;
          font-style: normal;
          color: $header-text-color;

          strong {
            font-family: 'pfbeausanspro';
            font-weight: 600;
            font-style: normal;
          }
        }
      }
    }
  }
}
