<div class="container stepsbar rounded">
    <div class="row">
        <div class="col m-2">            
            <span class="ft16w">Tienda: PAGOS ELECTRONICOS SCOTIABANK COLPATRIA</span> 
        </div>
    </div>   
  </div>
<div class="container align-items-center">
  <div class="row">
    <div [ngClass]="getClass(1)">
        <div class="m-2 text-center">
            <i [ngClass]="getClassIcon(1)"></i>&nbsp;
            <span [ngClass]="getClassText(1)">Definición</span>
        </div>
    </div>
    <div [ngClass]="getClass(2)">
        <div class="m-2 text-center">
            <i [ngClass]="getClassIcon(2)"></i>&nbsp;
            <span [ngClass]="getClassText(2)">Confirmación</span>
        </div>
    </div>
    <div [ngClass]="getClass(3)">
        <div class="m-2 text-center">
            <i [ngClass]="getClassIcon(3)"></i>&nbsp;
            <span [ngClass]="getClassText(3)">Comprobante</span>
        </div>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3">

    </div>
  </div>
</div>