@import 'variables/variables';

.form {
  $self: &;

  &__wrapper {
    margin: .5rem;
    padding: 2rem;
    border: 1px solid $border-color;
    border-radius: 6px;
    min-height: calc(((100vh - $header-height) - $footer-height) - 1rem);

    #{ $self }__header {
      padding: .5rem 0;

      h2 {
        font-family: 'pfbeausanspro-xthin';
        font-weight: 600;
        font-style: normal;
        color: $header-text-color;

        strong {
          font-family: 'pfbeausanspro';
          font-weight: 600;
          font-style: normal;
        }
      }
    }

    &--content {
      display: flex;
    }
  }
}
