<bf-pc-form [formGroup]="loginForm" (submit)="login()">
  <div class="form__content">
    <div class="form__content--item">
      <div class="form__group">
        <label for="person-type" class="form__label">Tipo de persona</label>
        <bf-pc-select
          [attributes]="{
            id: 'person-type',
            autocomplete: 'off'
          }"
          [formControl]="personTypeControl"
          [options]="personType" />
      </div>
      <div class="form__group">
        <label for="document-type" class="form__label">Tipo de documento</label>
        <bf-pc-select
          [attributes]="{
            id: 'document-type',
            autocomplete: 'off'
          }"
          [formControl]="documentTypeControl"
          [options]="documentType" />
      </div>
      <div class="form__group">
        <label for="document-number" class="form__label">Número de documento</label>
        <input id="document-number" type="text" class="form__input" placeholder="Ej. 1234567" [formControl]="documentNumberControl">
      </div>
      <div class="form__group">
        <label for="internet-key" class="form__label">Clave internet</label>
        <input id="internet-key" type="text" class="form__input" placeholder="Ingresa tu clave" [formControl]="internetKeyControl">
      </div>
      <div class="form__group--last">
        <a [href]="recoveryLink" class="form__link">
          <p>Recuperar o crear <span>tu clave de internet <fa-icon [icon]="['fas', 'angle-right']" /></span></p>
        </a>
      </div>
    </div>
    <div class="form__content--item">
      <div class="form__dynamic-key">
        <div class="form__dynamic-key--body">
          <h5 class="form__dynamic-key--title">Necesitarás tu Clave Dinámica</h5>
          <p class="form__dynamic-key--text">Para realizar esta transacción solicitaremos tu Clave Dinámica,<br>Para obtener deberás ingresar a tu APP Banco Falabella.</p>
        </div>
        <figure class="form__dynamic-key--image">
          <img src="images/dynamic-key.png" alt="Clave Dinámica">
        </figure>
      </div>
    </div>
  </div>
  <ng-container ngProjectAs="form-bottom">
    <button id="cancel-transaction" type="button" class="btn btn-light" disabled>Cancelar</button>
    <button id="submit-transaction" type="submit" class="btn btn-secondary" disabled>Ingresar</button>
  </ng-container>
</bf-pc-form>
