@font-face {
  font-family: 'mavenpro-bold';
  src: url('/fonts/mavenpro/mavenpro-bold.eot');
  src: url('/fonts/mavenpro/mavenpro-bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/mavenpro/mavenpro-bold.woff2') format('woff2'),
    url('/fonts/mavenpro/mavenpro-bold.woff') format('woff'),
    url('/fonts/mavenpro/mavenpro-bold.ttf') format('truetype'),
    url('/fonts/mavenpro/mavenpro-bold.svg#maven_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mavenpro-medium';
  src: url('/fonts/mavenpro/mavenpro-medium.eot');
  src: url('/fonts/mavenpro/mavenpro-medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/mavenpro/mavenpro-medium.woff2') format('woff2'),
    url('/fonts/mavenpro/mavenpro-medium.woff') format('woff'),
    url('/fonts/mavenpro/mavenpro-medium.ttf') format('truetype'),
    url('/fonts/mavenpro/mavenpro-medium.svg#maven_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mavenpro-regular';
  src: url('/fonts/mavenpro/mavenpro-regular.eot');
  src: url('/fonts/mavenpro/mavenpro-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/mavenpro/mavenpro-regular.woff2') format('woff2'),
    url('/fonts/mavenpro/mavenpro-regular.woff') format('woff'),
    url('/fonts/mavenpro/mavenpro-regular.ttf') format('truetype'),
    url('/fonts/mavenpro/mavenpro-regular.svg#maven_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
