<div class="content__wrapper">
  <div class="content">
    <div class="content__header">
      <h2 class="content__header--title">
        <strong>PSE</strong> pagos en línea
      </h2>
    </div>
    <ng-content />
  </div>
  <!-- Buttons -->
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <button id="cancel-transaction" type="button" class="btn btn-light" disabled>Cancelar</button>
        <button id="submit-transaction" type="submit" class="btn btn-secondary" disabled>Ingresar</button>
      </div>
    </div>
  </div> -->
</div>
