$sans-serif-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif !default;

$pfbeausanspro: 'pfbeausanspro' !default;
$pfbeausanspro-xthin: 'pfbeausanspro-xthin' !default;
$pfbeausanspro-bbook: 'pfbeausanspro-bbook' !default;

$default-text-color: #2D3033 !default;
$default-text-size: 1rem !default;
$default-line-height: 1.5 !default;

$banco-falabella-color: rgb(195, 214, 0) !default;
$banco-falabella-color-hover: rgb(43, 143, 20) !default;

$white-color: #FFFFFF !default;

$background-color: #FCFCFC !default;

$sidebar-min-width: 60px !default;

$main-width: calc(100% - #{ $sidebar-min-width }) !default;
$main-min-height: 500px;

$header-height: 120px !default;
$header-height-sm: 110.5px !default;

$footer-background-color: rgb(38, 39, 41) !default;
$footer-height: 64px !default;
$footer-height-xs: 72.79px !default;
$footer-height-sm: 83.4px !default;
$footer-height-md: 86.4px !default;
$footer-height-lg: 104.98px !default;
$footer-height-xl: 116.98px !default;

$border-color: rgb(201, 212, 223) !default;
