$sans-serif-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif !default;

$pfbeausanspro: 'pfbeausanspro' !default;
$pfbeausanspro-xthin: 'pfbeausanspro-xthin' !default;
$pfbeausanspro-bbook: 'pfbeausanspro-bbook' !default;

$default-text-color: rgb(50, 53, 55) !default;
$default-text-size: 1rem !default;
$default-line-height: 1.5 !default;

$banco-falabella-color: rgb(195, 214, 0) !default;
$banco-falabella-color-dark: rgb(43, 143, 20) !default;

$white-color: rgb(255, 255, 255) !default;

$background-color: rgb(252, 252, 252) !default;

$sidebar-min-width: 60px !default;

$main-width: calc(100% - #{ $sidebar-min-width }) !default;
$main-min-height: 500px;

$header-height: 88px !default;
$header-height-lg: 115px !default;

$footer-background-color: rgb(38, 39, 41) !default;
$footer-height: 67.1px !default;
$footer-height-xs: 68.7px !default;
$footer-height-sm: 90.65px !default;
$footer-height-md: 115.58px !default;
$footer-height-lg: 163.97px !default;
$footer-height-xl: 173.57px !default;

$border-color: rgb(201, 212, 223) !default;
$border-radius: 6px;

$form-text-color: rgb(92, 97, 102);

$alert-color: rgba(51, 53, 55, 1) !default;
$alert-color-warning: rgba(255, 244, 223, 1) !default;
$alert-color-warning-icon: rgb(194, 139, 18) !default;
$alert-color-success: rgba(239, 248, 234, 1) !default;
$alert-color-success-icon: $banco-falabella-color-dark;
$alert-border-radius: 8px;

$transaction-text-color: rgba(68, 71, 75, 1) !default;
$transaction-text-color-dark: rgba(71, 76, 78, 1) !default;

$button-color-light: rgba(244, 247, 248, 1) !default;
$button-color-light-hover: rgb(232, 234, 234) !default;
$button-color-active: rgba(56, 161, 33, 1) !default;
$button-color-active-hover: rgb(57, 136, 39) !default;
$button-color-disabled: rgba(219, 227, 236, 1) !default;
$button-text-color-disabled: rgba(99, 105, 110, 1) !default;

$stepper-active-color: rgba(59, 147, 38, 1) !default;

$content-bottom-height: 56.78px;
$content-margin-y: .4rem;

$content-dynamic-key-height: 120px !default;
$content-dynamic-key-color: rgba(242, 245, 247, 1) !default;
$content-dynamic-key-text-color: rgba(84, 87, 89, 1) !default;
$content-dynamic-key-autorize: rgba(0, 120, 51, 1) !default;
$content-dynamic-key-button-color-disabled: rgba(77, 131, 63, 1) !default;
$content-dynamic-key-button-border-color: rgba(184, 194, 204, 1) !default;
$content-dynamic-key-autorize-text-color: rgba(68, 71, 75, 1) !default;

$loader-text-color: rgba(94, 98, 103, 1) !default;
