<div class="content__dynamic-key">
  <div class="content__dynamic-key--wrapper">
    <blockquote class="content__dynamic-key--text">
      <p>
        <strong class="content__dynamic-key--title">Ingreso de Clave Dinámica</strong>&nbsp;<span>Ingresa el código de seguridad de 6 dígitos que aparece en tu app</span>&nbsp;<strong>Banco Falabella</strong>
      </p>
    </blockquote>
    <section class="content__dynamic-key--autorize">
      <input id="dynamic-key" type="text" class="form__input">
      <button id="submit-dynamic-key" type="submit" class="form__button active">Autorizar</button>
    </section>
    <blockquote class="content__dynamic-key--text">
      <p>
        <span>Encuentra tu</span>&nbsp;<strong>Clave Dinámica</strong>&nbsp;<span>en la pantalla principal de tu app</span>&nbsp;<strong>Banco Falabella</strong>
      </p>
    </blockquote>
  </div>
</div>
