<div class="content__dynamic-key">
  <div class="content__dynamic-key--wrapper">
    <blockquote class="content__dynamic-key--text">
      <strong class="content__dynamic-key--title">Ingreso de Clave Dinámica</strong>
      <p>
        <span>Ingresa el código de seguridad</span><span>de 6 dígitos que aparece</span><span>en tu app<strong>&nbsp;Banco Falabella</strong></span>
      </p>
    </blockquote>
    <section class="content__dynamic-key--autorize">
      <input id="dynamic-key" type="text" class="form__input">
      <button id="submit-dynamic-key" type="submit" class="form__button" disabled>Autorizar</button>
    </section>
    <blockquote class="content__dynamic-key--text">
      <p>
        <span>Encuentra tu&nbsp;<strong>Clave Dinámica</strong></span><span>en la pantalla principal</span><span>de tu app<strong>&nbsp;Banco Falabella</strong></span>
      </p>
    </blockquote>
    <figure class="content__dynamic-key--images">
      <!-- <svg-icon src="icons/bf-pc-logo-default.svg" class="footer__icon"></svg-icon> -->
      <img class="content__dynamic-key--image-key" src="images/content-dynamic-key.svg" alt="Clave Dinámica">
      <img src="images/content-dynamic-key-mobile.svg" alt="Clave Dinámica Mobile">
    </figure>
  </div>
</div>
