<div class="content__dynamic-key">
  <div class="content__dynamic-key--wrapper">
    <blockquote>
      <strong class="content__dynamic-key--title">Ingreso de Clave Dinámica</strong>
      <p class="content__dynamic-key--text">
        <span>Ingresa el código de seguridad</span>
        <span>de 6 dígitos que aparece</span>
        <span>en tu app<strong>&nbsp;Banco Falabella</strong></span>
      </p>
    </blockquote>
    <ng-content select="section.content__dynamic-key--autorize" />
    <blockquote>
      <p class="content__dynamic-key--text">
        <span>Encuentra tu&nbsp;<strong>Clave Dinámica</strong></span>
        <span>en la pantalla principal</span>
        <span>de tu app<strong>&nbsp;Banco Falabella</strong></span>
      </p>
    </blockquote>
    <figure class="content__dynamic-key--images">
      <img class="content__dynamic-key--image-key" src="images/content-dynamic-key.svg" alt="Clave Dinámica">
      <img src="images/content-dynamic-key-mobile.svg" alt="Clave Dinámica Mobile">
    </figure>
  </div>
</div>
