 <app-top-bar [numberstep]=4></app-top-bar>
<div class="container col-sm-9">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        


        <div class="container m-3">
            <!-- Button trigger modal -->
      
            <div class="row">
                <div class="col">
                    <div class="row">
                    <p class="ft14">De acuerdo a los datos ingresados, se realizará el siguiente pago desde tu cuenta:</p>
                    </div>                         
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="row my-2">
                    <p class="ft18"> Detalles de la transaccion</p>
                    </div>
                    <div class="row my-2">                
                        <div class="col-6 ft16">Concepto Pago</div>
                        <div class="col-6 ft16"><b></b></div>
                    </div>                
                    <div class="row my-2">                
                        <div class="col-6 ft16">Costo</div>
                        <div class="col-6 ft16"><b>$ </b></div>
                    </div>
                    <div class="form-check custom-control custom-checkbox custom-checkbox-green" >
                        <input class="form-check-input custom-control-input custom-control-input-green" type="checkbox">
                        <label class="col-6 ft16">
                            Pago Recurrente
                        </label>                               
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Launch demo modal
                        </button>   
                    </div>
                    
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="row my-2">
                        <p class="ft18"> Detalles del pago</p>
                    </div>
                    <div class="row my-2">                
                        <div class="col-6 ft16">Cuenta</div>
                        <div class="col-6 ft16"><b></b></div>
                    </div>                
                    <div class="row my-2">                
                        <div class="col-6 ft16">Disponible en cuenta</div>
                        <div class="col-6 ft16"><b>$ </b></div>
                    </div>                
                    <div class="row my-2">                
                        <div class="col-6 ft16">Valor a pagar</div>
                        <div class="col-6 ft16"><b>$</b></div>
                    </div>                
                </div>
            </div>
            <div class="row my-3">
                <div class="col ft16">
                    <b>Ingreso de clave de seguridad</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xs-12 ft15">
                    Recibirás SMS o llamada con la clave de seguridad a tu celular Ingrésala dentro de los próximos 5 minutos.
                </div>
                <div class="col-3 col-xs-12" >
                    <input type="password" formControlName="otp" maxlength="6" 
                        [ngClass]="submitted && f['otp'].errors ? 'form-control ft13g is-invalid' : 'form-control ft13g'"/>
                    <div *ngIf="submitted && f['otp'].errors" class="ft12 invalid-feedback d-block">
                        <div *ngIf="f['otp'].errors['required']">OTP requerido</div>                        
                    </div>
                </div>
                <div class="col-3 col-xs-12">
                    <img src="assets/logos/softoken.jpg" width="200px"/>
                </div>
            </div>
            <div class="row my-3 border-10" >
                <div class="col-3 col-xs-12">
                    <h5 class="ftg text-left">Ingreso de Clave Dinámica</h5>
                    <div>
                        <p class="ft14dy">Ingresa el código de seguridad de 6 dígitos que aparece en tu app <b class="ftg">Banco Falabella</b></p>
                    </div>
                </div>
                
                <div class="col-3 col-xs-12" >
                    <input type="password" formControlName="sofToken" maxlength="6" 
                        [ngClass]="submitted && f['sofToken'].errors ? 'form-control ft13g is-invalid' : 'form-control ft13g'"/>
                    <div *ngIf="submitted && f['sofToken'].errors" class="ft12 invalid-feedback d-block">
                        <div *ngIf="f['sofToken'].errors['required']">Clave Dinamica requerida</div>                        
                    </div>
                </div>
                <div class="col-3 col-xs-12">
                    <p class="ft14dy">Encuentra tu <b class="ftg">Clave Dinámica</b> en la pantalla principal de tu app  <b class="ftg">Banco Falabella</b></p>
                </div>
                <div class="col-3 col-xs-12">
                    <img src="assets/logos/celular-lup-vu.png" width="200px"/>
                </div>
            </div>
            <div class="row m-4">
                <div class="col-xs-0 col-sm-3 col-md-3">
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">                
                    <button type="button" class="btn col-12 btnCancel">Cancelar</button>                                
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">                
                    <button type="submit" class="btn col-12 btnContinue">Continuar</button>                
                </div>
                <div class="col-xs-0 col-sm-3 col-md-3">
                </div>
            </div>
        </div>


    </form>
</div> 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <p>summary works!</p>
<app-bottom-bar [numberstep]=4></app-bottom-bar> -->
