@mixin main-responsive($header-height: $header-height, $footer-height: $footer-height, $screen-height: 100vh) {
  .main {
    padding-top: $header-height;
    padding-bottom: $footer-height;

    &__content {
      min-height: calc(($screen-height - $header-height) - $footer-height);
    }

    @content;
  }
}

@mixin main-queries() {

  @media (max-width: calc(map-get($grid-breakpoints, 'lg') + 150px)) {
    @include main-responsive($header-height, $footer-height-xs);
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    @include main-responsive($header-height, $footer-height-sm);
  }

  @media (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
    @include main-responsive($header-height, $footer-height-md);
  }

  @media (max-width: 420px) {
    @include main-responsive($header-height, $footer-height-lg) {
      left: auto;
      width: 100%;
    }
  }

  @media (max-width: 336px) {
    @include main-responsive($header-height, $footer-height-xl);
  }

  @media (max-height: $main-min-height) {
    @include main-responsive($header-height, $footer-height, $main-min-height);
  }

  @media (max-height: $main-min-height) and (max-width: calc(map-get($grid-breakpoints, 'lg') + 150px)) {
    @include main-responsive($header-height, $footer-height-xs, $main-min-height);
  }

  @media (max-height: $main-min-height) and (max-width: map-get($grid-breakpoints, 'md')) {
    @include main-responsive($header-height, $footer-height-sm, $main-min-height);
  }

  @media (max-height: $main-min-height) and (max-width: calc(map-get($grid-breakpoints, 'sm') + 42px)) {
    @include main-responsive($header-height, $footer-height-md, $main-min-height);
  }

  @media (max-height: $main-min-height) and (max-width: 420px) {
    @include main-responsive($header-height, $footer-height-lg, $main-min-height);
  }

  @media (max-height: $main-min-height) and (max-width: 336px) {
    @include main-responsive($header-height, $footer-height-xl, $main-min-height);
  }
}

@mixin height-responsive() {
  $header-height: 120px;

  @media (min-height: calc(map-get($grid-breakpoints, 'sm') + 104px)) and (min-width: calc(map-get($grid-breakpoints, 'md') + 129px)) {
    @include main-responsive($header-height, $footer-height-xs, $main-min-height);
  }
}
