*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $pfbeausanspro, $sans-serif-family;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $pfbeausanspro, $sans-serif-family;
  // font-size: $default-text-size;
  // line-height: $default-line-height;
  // background-color: $background-color;
  // color: $default-text-color;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
