.main {
  position: relative;
  left: $sidebar-min-width;
  margin: 0;
  width: $main-width;
  background-color: $white-color;
  min-height: $main-min-height;

  &__content {
    margin-right: $sidebar-min-width;
    padding: .2rem .2rem 0;
  }

}

@include main-responsive();

@include main-queries();

@include main-height-responsive();
